endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_endpointPrivacy true
sv_hostname "FafaDev"
sv_licenseKey ""
set steam_webApiKey 
sv_maxclients 4

sets sv_projectName "Unconfigured | ESX Legacy Server"
sets sv_projectDesc "The official recipe of the most popular FiveM RP framework, containing Jobs, Housing, Vehicles & more!"
sets tags "default, esx, esx legacy, legacy, official, roleplay"
sv_scriptHookAllowed 0

set onesync on  # Enable OneSync [REQUIRED FOR LEGACY 1.7.5 +]
set mysql_connection_string "server=localhost;database=baservente;userid=root;"
set mysql_ui true
set sv_enforceGameBuild 2545  
setr esx:locale "en"

## These resources will start by default.
ensure spawnmanager
ensure sessionmanager
ensure hardcap


## Add system admins
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow 

## Default & Standalone resources
ensure oxmysql

## ESX Legacy
ensure es_extended
ensure [Default]
ensure [Essentiel]
ensure [ESX]
ensure [Fafa] 
ensure fStream